# Flyway example configuration file
# Rename this file to "flyway.toml" and update the your password.
#
# Do NOT commit your renamed file to version control.

[environments.production]
url = "jdbc:postgresql://database:5432/telemetry"
user = "postgres"
password = "supersecurepassword"

[flyway]
environment = "production"
